Используемые модули Python в проекте:
* PyQt5 - требуется для создания GUI
* Pillow (PIL) - модуль для работы с изображениями
* SQLite3 - модуль для работы с СУБД SQLite 3
* EasyGUI - модуль для работы с диалоговым окном для выбора изображений (используется в конвертере)
* SYS - модуль для работы с системой
* OS - модуль для работы с ОС